name: Bandit

on:
  push:
    branches: [ bandit, main ]
  pull_request:
    branches: [ bandit, main ]

jobs:
  bandit-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Bandit via shundor/bandit-action
        uses: shundor/bandit-action@v1
        with:
          path: "."                
          level: high              
          confidence: high         
          exit_zero: true          
